:root {
  --main-flex: 70%;
  --sup-flex:calc(100% - var(--main-flex));
}
.App {
  max-height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-color: #474747;
}

.main {
  display: flex;
  height: calc(100vh - 50px);
}

.left-container {
  position: relative;
  flex: var(--main-flex); 
  height: calc(100vh - 50px);
}


.right-container {
  flex: var(--sup-flex);
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border-left: 3px solid #1f65e6;
  padding: 5px;
  padding-top: 10px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); 
  
  opacity: 0;
  animation: fadeIn 0.5s forwards; 
}

.modal.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  to {
      opacity: 0;
  }
}

.modal-content {
  background-color: #f1f1f1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-box {
  flex: 30%;
}

.input-box textarea {
  font-size: 16px;
}

.spinner-box {
  flex: 50%;
  background-color: #242424;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.spinner-box img {
  width: 150px;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
} 

.output-box {
  flex: 50%;
  background-color: #242424;
  overflow-y: auto;
  color: white;
  position: relative;
}

.clear-btn {
  position: absolute;
  bottom: 14px;
  right: 18px;
  width: 80px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #60d2ff;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 5px;
}
.clear-btn:hover{
  background-color: #fff
}

.output-box pre {
  font-size: 15px;
  white-space: pre-wrap;
}

h4 {
  color: #fd7a7a;
}

#code-inp {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: none;
  background-color: #242424;
  color: whitesmoke;
  padding: 5px;
}

#code-inp:focus {
  outline: none;
}

.run-btn {
  position: absolute;
  bottom: 10px;
  right: 18px;
  width: 80px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  background-color: #60d2ff;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 10px;
}
.run-btn:hover{
  background-color: #fff
}
.run-btn:active {
  background-color: #6e9427;
}

/* Основные стили для контейнера формы */
#upload-form {
  display: flex;
  width:10px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Скрываем input file */
.file-input {
  display: none;
}

/* Стили для кнопки выбора файла */
.file-label {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.file-label:hover {
  background-color: #2980b9;
}

/* Стили для кнопки загрузки */
.upload-btn {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  Text-align: center;
  width: 110px;
  font-weight: bold;
  Margin: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-btn:hover {
  background-color: #27ae60;
}

/* Стили для вывода результата */
.output {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  white-space: pre-wrap; /* для сохранения переносов строк */
  background-color: #f9f9f9;
  font-family: monospace;
}

.download-btn {
  position: absolute;
  bottom: 10px;
  right: 125px;
  width: 120px;
  height: 40px;
  margin-bottom:10px;
  font-size: 22px;
  font-weight: bold;
  background-color: #afec3f;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;  
  
  
}

.download-btn:hover {
  background-color: #45a049;
}
