
.navbar {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 50px;
    text-align: center;
    color: #607dff;
    background-color: #474747;
    gap: 40px;
}

.navbar h1 {
    font-size: 2rem;
    margin: 0 10px 0 0; 
    white-space: nowrap; 
}

#no {
    height: 36px;
    width: 80px;
    font-size: 16px;
    color: rgb(185, 185, 185);
    border: 1px solid #60d2ff;
    border-radius: 4px;
    background-color: #474747;
}

#no:focus {
    outline: none;
}

.css-2b097c-container {
    width: 120px;
    color: black;
    background-color: #474747;
}

.css-yk16xz-control {
    background-color: #474747 ;
    border-color: #60d2ff ;
}

.button-logout {
    background-color: #ff4d4d; /* Красный цвет фона */
    color: white; /* Белый цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы */
    margin: 5px; /* Поля */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Курсор указывает на кликабельность */
}

.button-logout:hover {
    background-color: #ff1a1a; /* Темнее красный при наведении */
}

.button-history {
    background-color: #4d79ff; /* Синий цвет фона */
    color: white; /* Белый цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы */
    margin: 5px; /* Поля */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Курсор указывает на кликабельность */
}

.button-history:hover {
    background-color: #1a53ff; /* Темнее синий при наведении */
}

.button-login {
    background-color: #4caf50; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы */
    margin: 5px; /* Поля */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Курсор указывает на кликабельность */
}

.button-login:hover {
    background-color: #45a049; /* Темнее зеленый при наведении */
}

.button-register {
    background-color: #f0ad4e; /* Оранжевый цвет фона */
    color: white; /* Белый цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы */
    margin: 5px; /* Поля */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Курсор указывает на кликабельность */
}

.button-register:hover {
    background-color: #ec971f; /* Темнее оранжевый при наведении */
}

.input-field {
    padding: 10px; /* Отступы */
    margin: 5px; /* Поля */
    border-radius: 5px; /* Скругленные углы */
    border: 1px solid #ccc; /* Серая граница */
    width: 200px; /* Ширина */
    box-sizing: border-box; /* Учитывать padding и border в ширине */
}

.input-field:focus {
    outline: none; /* Убираем стандартное выделение */
    border-color: #4caf50; /* Зеленая граница при фокусе */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Тень */
}

.auth-buttons {
    display: flex; /* Используем flexbox для горизонтального выравнивания */
    align-items: center; /* Вертикальное выравнивание по центру */
}
  
