.navbar {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    color: #607dff;
    background-color: #474747;
    gap: 3%;
}

.navbar h1 {
    font-size: 2rem;
    margin: 0 10px 0 0; 
    white-space: nowrap; 
}

#no {
    height: 36px;
    width: 80px;
    font-size: 16px;
    color: rgb(185, 185, 185);
    border: 1px solid #60d2ff;
    border-radius: 4px;
    background-color: #474747;
}

#no:focus {
    outline: none;
}

.css-2b097c-container {
    width: 120px;
    color: black;
    background-color: #474747;
}

.css-yk16xz-control {
    background-color: #474747 ;
    border-color: #60d2ff ;
}

.button-logout {
    background-color: #ff4d4d; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-weight: bold;
    margin: 5px;
    border-radius: 5px; 
    cursor: pointer; 
}

.button-logout:hover {
    background-color: #ff1a1a; 
}

.button-history {
    background-color: #4d79ff; 
    color: white; 
    border: none; 
    font-weight: bold;
    padding: 10px 20px; 
    margin: 5px; 
    border-radius: 5px; 
    cursor: pointer; 
}

.button-history:hover {
    background-color: #1a53ff; 
}

.button-login {
    background-color: #4caf50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    margin-right:60px;
    font-weight: bold;
    margin: 5px; 
    border-radius: 5px; 
    cursor: pointer; 
}

.button-login:hover {
    background-color: #45a049;
}

.button-register {
    background-color: #f0ad4e; 
    color: white; 
    border: none; 
    font-weight: bold;
    padding: 10px 20px; 
    margin: 5px;
    border-radius: 5px; 
    cursor: pointer; 
}

.button-register:hover {
    background-color: #ec971f; 
}

.input-field {
    padding: 10px; 
    margin: 5px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    width: 200px; 
    box-sizing: border-box; 
}

.input-field:focus {
    outline: none; 
    border-color: #4caf50; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
}

.auth-buttons {
    display: flex; 
    align-items: center; 
    gap: 8%;
}
