
.navbar {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 50px;
    text-align: center;
    color: #607dff;
    background-color: #474747;
    gap: 40px;
}

#no {
    height: 36px;
    width: 80px;
    font-size: 16px;
    color: rgb(185, 185, 185);
    border: 1px solid #60d2ff;
    border-radius: 4px;
    background-color: #474747;
}

#no:focus {
    outline: none;
}

.css-2b097c-container {
    width: 120px;
    color: black;
    background-color: #474747;
}

.css-yk16xz-control {
    background-color: #474747 ;
    border-color: #60d2ff ;
}

  
